# vscode
gbc_emulator.code-workspace

# misc directories
.doc
.release**
.gb
.vscode
.roms
assets

# misc filetypes
*.bin
*.log
.nogit
*.so
*.class

# testing
sm83-test-data-master
savegame
trace.txt
